mat-card {
    margin-bottom: 30px;
}

.header {
    font-weight: 500;
    cursor: pointer;
}

mat-icon {
    justify-content: center;
    align-items: center;
    float: right;
}

.body{
    margin-top: 15px;
    border-top: solid #f0f0ef 1px;
    padding-top: 15px;
}