
  <div >
      <mat-toolbar >
          <span style="color:#142d4f; font-size: 28px">Design</span>
          <span style="color: #ff9d66;font-weight: bold; font-size: 28px">Brand</span>
          <span style="flex: 1 1 auto"></span>
          <span>
              
                <button mat-icon-button class="btn-cer">
                  <mat-icon>search</mat-icon>
                </button>
            <button mat-icon-button class="btn-cer">
              <mat-icon matBadge="1" matBadgeColor="warn">email</mat-icon>
            </button>
            
            <button mat-icon-button class="btn-cer">
                <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
              </button>

            <button mat-icon-button class="btn-cer">
              <mat-icon matBadge="3" matBadgeColor="warn">flag</mat-icon>
            </button>
          </span>
        </mat-toolbar>
      
        <mat-sidenav-container class="example-container">
            <mat-sidenav opened mode="side" class="col-2">
                <div class="header-menu">
                    <div class="cercle-menu">
                      JD
                    </div>                    
                  </div>

                  <div class="user">
                      <div >John Doe</div>
                      <div class="user-title"> l'exemple</div>
                  </div>

                  <div style="text-align:center">
                    <button class="btn-net">
                        <span>f</span>
                    </button>
                    <button class="btn-net">t</button>
                    <button class="btn-net">B</button>
                  </div>
            
                  <div class="menu">
                    <ul>
                      <li class="active"><mat-icon >network_check</mat-icon>  Dashboard</li>
                      <li><mat-icon >share</mat-icon>  Network</li>
                      <li><mat-icon >build</mat-icon>  Tools</li>
                      <li><mat-icon >settings</mat-icon>  Setting</li>
                    </ul>
                  </div>
             </mat-sidenav>
          <mat-sidenav-content class="content col-10">
            <div class="row">
                <div class="content-row col-7">
                    <app-volet>
                      <div header>
                         Candidats
                      </div>
                      <div body>
                        1
                      </div>
                    </app-volet>
    
                    <app-volet>
                        <div header>
                            À la une
                        </div>
                        <div body>
                         2
                        </div>
                    </app-volet>
                </div>
                <div class="content-row col-5">
                    <app-volet>
                        <div header>
                            Candidats sur l'année 2018
                        </div>
                        <div body>
                          3
                        </div>
                    </app-volet>
    
                    <app-volet>
                        <div header>
                            Ajouter une demande
                        </div>
                        <div body>
                          4
                        </div>
                    </app-volet>
                </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
  </div>

